@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #1d1d1b;
}

::-webkit-scrollbar-track{
  background-color: inherit;
}

.ymaps-2-1-79-balloon {
    box-shadow: none !important;
}

.ymaps-2-1-79-balloon__layout{
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .ymaps-2-1-79-balloon__content ymaps {
    width: 18rem !important;
  }
}