@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.ymaps-2-1-79-balloon {
    box-shadow: none !important;
}

.ymaps-2-1-79-balloon__layout{
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .ymaps-2-1-79-balloon__content ymaps {
    width: 18rem !important;
  }
}
