.content {
	max-width: 1140px;
	margin: 2rem auto;
}
.content > div {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 2em;
}
/* h2 {
	font-weight: bold;
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 10px;
} */

.content details {
	color: #1d1d1b;
	font-size: 22px;
	background-color: #f5f5f5;
	/* Добавим темный фон */
	border-radius: 5px;
	/* Скругляем углы */
	padding: 1em;
	/* Добавляем отступ внутри блока */
	margin-bottom: 1em;
	/* Добавляем отступ между блоками */
	transition: 0.2s;
}

.content details[open] {
	background-color: #eaeaea;
	/* Смена цвета фона при открытии */
}

.content details>p {
	margin-top: 1em;
	margin-left: 1em;
}

.content summary {
	cursor: pointer;
	/* Изменяем курсор на указатель, чтобы показать, что это кликабельный элемент */
}

.content summary:hover {
	color: #d22115;
}

.content details[open]>p {
	opacity: 0;
	animation: fadeIn .1s ease-in forwards;
}

.content details[open]>summary:hover {
	color: black;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}